*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [7:1324]
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -m icmp --icmp-type any -j ACCEPT
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

########################################################################################
# SSH from bastion
-A INPUT -s {{ bastion_network_sep }} -m tcp -p tcp --dport 22 -j ACCEPT

########################################################################################
# elasticsearch from ap (for PIO)
-A INPUT -s {{ ap_network_sep }} -m tcp -p tcp --dport 9200 -j ACCEPT
-A INPUT -s {{ ap_network_sep }} -m tcp -p tcp --dport 9300 -j ACCEPT

#-A INPUT -s 172.31.15.0/24 -m tcp -p tcp --dport 3306 -j ACCEPT

########################################################################################
# mysql from ap (for diff and backup)
-A INPUT -m state --state NEW -m tcp -p tcp --dport 3306 -j ACCEPT

-A INPUT -j DROP
COMMIT

