<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="300 seconds">
	<property name="LOG_FORMAT" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%contextName] [%thread] [%-5level] %logger{0} %msg%n"/>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_FORMAT}</pattern>
		</encoder>
	</appender>

	<appender name="FILE_CORE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/personium/personium-core/log/personium-core.info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/personium/personium-core/log/personium-core.info.log.%d{yyyyMMdd}.gz</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_FORMAT}</pattern>
		</encoder>
	</appender>

	<appender name="FILE_CORE" class="ch.qos.logback.core.FileAppender">
		<file>/personium/personium-core/log/personium-core.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>${LOG_FORMAT}</pattern>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

	<!-- EventAPIの出力先を別ファイルに分けるための暫定対応 -->
	<appender name="FILE_USER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/personium/personium-core/log/personium-user.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<!-- daily rollover -->
		<fileNamePattern>/personium/personium-core/log/personium-user.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_FORMAT}</pattern>
		</encoder>
	</appender>

	<appender name="FILE_ENGINE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/personium/personium-engine/log/personium-engine.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/personium/personium-engine/log/personium-engine.log.%d{yyyyMMdd}.gz</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_FORMAT}</pattern>
		</encoder>
	</appender>

	<appender name="FILE_REPAIR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/personium/personium-repair/log/personium-repair.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/personium/personium-repair/log/personium-repair.log.%d{yyyyMMdd}.gz</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_FORMAT}</pattern>
		</encoder>
	</appender>

	<appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>eventlog_path</key>
			<defaultValue>unknown</defaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${eventlog_path}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>/personium_nfs/personium-core/eventlog/${eventlog_path}/current/default.log</file>
				<rollingPolicy class="io.personium.logging.rolling.DcFixedWindowRollingPolicy">
					<fileNamePattern>/personium_nfs/personium-core/eventlog/${eventlog_path}/archive/default.log.%i.zip</fileNamePattern>
					<minIndex>1</minIndex>
					<maxIndex>12</maxIndex>
				</rollingPolicy>
				<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<maxFileSize>50MB</maxFileSize>
				</triggeringPolicy>
				<layout class='ch.qos.logback.classic.PatternLayout'>
					<pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",UTC},[%-5level],%msg%n</pattern>
				</layout>
			</appender>
		</sift>
	</appender>

	<appender name="FILE_LOGBACK" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/personium/logback/log/logback.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/personium/logback/log/logback.log.%d{yyyyMMdd}.gz</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level]  %logger{0} %msg%n</pattern>
		</encoder>
	</appender>

	<logger  name="io.personium.core.event"  additivity="false">
		<!-- 本番でもユーザスクリプトのDEBUGレベルログを出力するために、「DEBUG」とする -->
		<level value="DEBUG" />
		<appender-ref ref="FILE_USER" />
		<appender-ref ref="stdout" />
	</logger>

	<logger	name="io.personium.core">
		<level value ="INFO"/>
		<appender-ref ref="FILE_CORE" />
		<appender-ref ref="FILE_CORE_INFO" />
	</logger>

	<logger	name="io.personium.common">
		<level value ="INFO"/>
		<appender-ref ref="FILE_CORE" />
		<appender-ref ref="FILE_CORE_INFO" />
	</logger>

	<logger	name="io.personium.engine">
		<level value ="INFO"/>
		<appender-ref ref="FILE_ENGINE" />
	</logger>

	<logger	name="io.personium.client">
		<level value ="INFO"/>
		<appender-ref ref="FILE_ENGINE" />
	</logger>

	<logger	name="io.personium.repair">
		<level value ="INFO"/>
		<appender-ref ref="FILE_REPAIR" />
	</logger>

	<logger name="io.personium.core.eventbus" additivity="false">
		<level value="INFO" />
		<appender-ref ref="SIFT" />
	</logger>

	<!-- for logback daemon -->
	<logger name="ch.qos.logback" additivity="false">
		<level value="WARN" />
		<appender-ref ref="FILE_LOGBACK" />
	</logger>
	<logger name="io.personium.logging" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE_LOGBACK" />
	</logger>
	<!-- end for logback daemon -->

</configuration>
