[Unit]
Description=Elasticsearch
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Environment=ES_HOME=/opt/elasticsearch-5.6.14
Environment=CONF_DIR=/opt/elasticsearch-5.6.14/config
Environment=DATA_DIR=/personium/elasticsearch-5.6.14/data
Environment=LOG_DIR=/personium/elasticsearch-5.6.14/log
Environment=PID_DIR=/var/run/elasticsearch-5.6.14
EnvironmentFile=-/opt/elasticsearch-5.6.14/config
Environment=JAVA_HOME=/opt/jdk


User=elasticsearch
Group=elasticsearch

ExecStartPre=/opt/elasticsearch-5.6.14/bin/elasticsearch.in.sh

ExecStart=/opt/elasticsearch-5.6.14/bin/elasticsearch

StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Specifies the maximum number of bytes of memory that may be locked into RAM
# Set to "infinity" if you use the 'bootstrap.memory_lock: true' option
# in elasticsearch.yml and 'MAX_LOCKED_MEMORY=unlimited' in /etc/sysconfig/elasticsearch
#LimitMEMLOCK=infinity

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# SIGTERM signal is used to stop the Java process
KillSignal=SIGTERM

# Java process is never killed
SendSIGKILL=no

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

# Built for Distribution: RPM-2.4.5 (rpm)
